@model IEnumerable<GestionDeInventario.Models.OrdenesCompraModels>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ordenes de Compra</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Nuevo</a>
</p>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaOrden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedores)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaOrden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productos.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedores.Nombre)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.OrdenId" class="btn btn-outline-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.OrdenId" class="btn btn-outline-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrdenId" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
